.label {
  font-weight: 700;
  font-size: 16px;
  line-height: 140%;
  padding-bottom: 7px;
}

.labelHidden {
  font-weight: 700;
  font-size: 16px;
  line-height: 140%;
  padding-bottom: 7px;
  opacity: 0;
}
