.cardLager {
  display: flex;
  flex-direction: row;
  width: 100%;
  border-radius: 12px;
  padding: 24px;
  margin-bottom: 20px;
}

.posterWrapper {
  width: 250px;
  height: 352px;
  overflow: hidden;
  background-image: url("../../../public/img/no-posters.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.poster {
  width: 250px;
  height: 352px;
  object-fit: cover;
}

.cardContent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  padding-inline: 16px;
}

.textWrap {
  max-width: 400px; /* TODO при адаптации попробовать  */
}

.cardTitle {
  font-weight: 600;
  font-size: 20px;
  line-height: 120%;
  color: var(--mantine-color-custom-purple-5);
  padding-bottom: 8px;
}

.releaseDate {
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  color: var(--mantine-color-custom-grey-6);
  padding-bottom: 8px;
}

.voteContainer {
  display: flex;
  align-items: center;
  text-align: center;
}

.voteAverage {
  margin: 0 8px 0 4px;
  font-weight: 600;
  font-size: 16px;
  line-height: 125%;
  color: var(--mantine-color-black);
}

.voteCount {
  font-weight: 400;
  font-size: 16px;
  color: var(--mantine-color-custom-grey-6);
}

/* ------------ */
.table {
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  color: var(--mantine-color-black);
  margin-bottom: 6px;
  width: 320px;
}
/* ------------ */

.genres {
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
}

.genresListName {
  font-weight: 400;
  font-size: 16px;
  color: var(--mantine-color-custom-grey-6);
  padding-right: 8px;
}

.genreName {
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  color: var(--mantine-color-black);
}

.userRating {
  display: flex;
  width: 50px;
  align-items: center;
}

.userRatingValue {
  font-weight: 600;
  font-size: 16px;
  line-height: 125%;
  color: var(--mantine-color-black);
  padding-left: 4px;
}
