@import url("./normalize.css");

ul {
  list-style-type: none; /* Убирает маркеры списка */
  padding-left: 0; /* Убирает отступ слева */
}

ul li {
  color: black; /* Задает черный цвет текста элементов списка */
  text-decoration: none; /* Убирает подчеркивание текста */
}

a {
  color: inherit; /* Цвет текста будет таким же, как у родительского элемента */
  text-decoration: none; /* Убирает подчеркивание */
  list-style-type: none; /* Убирает маркеры списка, если ссылка находится внутри <li> */
}
